.App {
  text-align: center;
}

/*
Gestion de l'entête
 */

.App-header {
  background-color: #222;
  height: 80px;
  padding: 20px;
  color: white;
}

/*
Gestion du titre
 */

.App-title {
  font-size: 1.5em;
}



/*
Gestion du corps de la page
 */
.Body {
  display: flex;
  align-content: space-between;
  flex-direction: row;
  outline: 0.1em solid #000000;
  background: rgba(255, 255, 255, 0.36);
  margin: 0.5em;
  padding: 0.5em;
}

/*
Gestion de la zone jeu
 */
.Game {
  display: flex;
  width: 85%;
  align-content: space-between;
  flex-direction: row;
  outline: 0.1em solid #8e8e8e;
  background: rgba(223, 223, 223, 0.36);
  margin: 0.5em;
  padding: 0.5em;
}


/*
Gestion du tableau de bord situé à droite (les boutons)
 */
.DashBoard {
  width: 15%;
  align-content: space-between;
  flex-direction: row;
  outline: 0.1em solid #8e8e8e;
  background: rgba(223, 223, 223, 0.36);
  margin: 0.5em;
  padding: 0.5em;
}






